body{
  margin:0px auto;
  text-align: center;
  background:#FFDBAD;
  /* background:ghostwhite; */
}

main{
  width:100%;
  margin:50px 0px;
  /* background:greenyellow; */
}

#main-container{
  margin:0px auto;
  width:95%;
}

header{
  margin:0px auto;
  height:100px;
  background: url('/image/bg01.jpg');

  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
  /* background: green; */
}

nav{
  margin:0px auto;
}

.title-bg02{
  height: 40px;
  width: 180px;
  color:white;
  padding: 10px 40px 0px 0px;
  background: url('/image/title01.jpg');
  background-position: center;
}

.icon-default{
  width:30px;
  height:30px;
}
.icon-50{
  width:50px;
  height:50px;
}

.float-left>li{
  float:left;
  clear:both;
}

.float-right>li{
  float:right;
  clear:both;
}

.min-show{
  display:block;
}
.min-hide{
  display:none;
}

#main-content{
  background:white;
  /* background: rgb(147, 120, 184); */
}

#main-content>.row>.col,.col-6{
  margin:20px auto;
}

#news{
  flex: 0 0 100%;
  max-width:100%;
}

#news-content>thead{
  background:black;
  color:white;
}
#news-content>thead>tr>td{
  text-align: center;
  border: 2px solid white;
}


#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin-left:5%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  /* text-align: left; */
  background-color: #000;
  color: white;
}


@media only screen and (min-width:465px){
}

@media only screen and (min-width:680px){
  #customers{
    width: 100%;
    margin-left:0%;
    }
  #news{
    max-width:50%;
    flex: 0 0 50%;
  }
  #main-container{width:80%;}
  .min-hide{
    display:block;
  }
  .min-show{
    display:none;
  }
}


